<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#post',
            plugins: 'link lists media code',
            toolbar: 'alignleft aligncenter alignright alignjustify | formatselect | bullist numlist | outdent indent | link code',
            toolbar_mode: 'floating',
      });
    </script>
    <title>Hero Sighting Manager</title>
</head>
<body>
<!-- Main Body of Page -->

<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1> <a href="/" class="text-dark">Placeholder Name's Blog</a></h1>
        </div>
    </div>
    <form id="addEditForm" th:action="@{createOwnerPost}" method="POST">
        <div class="row">
            <div class="col-md-9">
                <textarea th:field="${blogpost.post}" id="post" style="width:100%; height:300px"></textarea>
                <input type="text" name="tags" id="tags"
                       class="form-control" placeholder="Tags go here, delimited by #'s"/>
            </div>
        </div>
        <div class="col-md-9">
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>
    <div class="row m-4">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bpost: ${blogposts}">
                    <div style="padding: 15px;">
                        <div class="border border-dark">
                            <p th:text="'Posted on: ' + ${bpost.postTime}"></p>
                            <div class="border border-dark" th:utext="${bpost.post}">
                            </div>
                        </div>
                        <form action="setApproved" method="POST">
                            <span th:switch="${bpost.approved}">
                                <input type="hidden" name="postId" th:value="${bpost.postId}" />
                                <button th:case="false" type="submit" class="btn btn-primary">Approve</button>
                            </span>
                        </form>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>;